/* Layout.css */

/* General layout styling */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
}

.layout::-webkit-scrollbar {
  display: none;
}

.navBarr {
  z-index: 100;
  flex-shrink: 0;
  padding: 2px 0px;
}


.sidebar {
  width: 235px;
  background-color: #fff;
  padding: 10px 20px;
  color: #818187;
  display: flex;
  position: fixed;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 14px 0px;
  font-family: 'Lexend', sans-serif;

}

.sidebar li {
  margin: 1.8rem 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 19.19px;
  letter-spacing: 2%;
  color: #818187 !important;
}

.inactive-li {
  padding: 7px 30px;
}

.active-li {
  border-radius: 16px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Dark, visible shadow */
  padding: 12px 30px;
  width: 100%;
  color: #FF8600 !important;
}


.main-content {
  background-color: #F1F1F1;
  margin-left: 235px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.head-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

}

.circle-white {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}

.header-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33.25px;
  font-family: 'Lexend', sans-serif;
  color: #3B3B45;
}

.input-head-bar {
  padding: 10px 45px;
  border: 1px solid white;
  background-color: white;
  outline: none;
  color: #818187;
  width: 400px;
  font-family: 'Lexend', sans-serif;
  border-radius: 16px;
}
.user-logout{
  bottom: -5px;
  left: 35%;
}

.log-out-btn {
  border: 1px solid #FF860029;
  background-color: #FF860029;
  border-radius: 13px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: #FF8600;
  padding: 8px 40px;
}

.content {
  flex-grow: 1;
  height: 100%;
  padding: 0px 20px;
  overflow-y: auto;
}

.shadow-box-aut{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .main-content {
    margin-top: 0;
  }

  .header {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
    /* Hide sidebar on small screens */
  }

  .header {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}